.sign-up {
  margin: 5vh 8vw 0;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 80vh;
  column-gap: 14px;
}
.plant {
  align-self: end;
}
// .sign-up-form {
//   width: 80%;
// }
.wrapper {
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  width: 80%;
}
.option-grp {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  width: 100%;
}
