.treatment-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 400px;
  height: 120px;
  .item-wrapper {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item {
    width: 70px;
    height: 70px;
    background: #c4d6b0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .caption-wrapper {
    width: 70px;
    display: flex;
    align-items: center;
    margin-top: 1vh;
  }
  .caption {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #44633f;
  }
}
