.tab-view {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow-x: auto;
}
.tab-view::-webkit-scrollbar {
  width: 0;
}

.tabbar-button {
  width: fit-content;
  display: flex;
  flex-direction: row;
  height: 38px;
  text-align: center;
  font-family: "Roboto";
  font-size: 17px;
  text-transform: capitalize;
  color: #44633f;
  padding: 2px 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: solid 1px rgba(68, 99, 63, 0.4);
  border-radius: 20px;
  outline: none;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    border: solid 1px rgba(68, 99, 63, 1);
  }

  &.active {
    background-color: #44633f;
    color: #fff;
  }
}
