.dropdown-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;

  &::before {
    content: "";
    position: relative;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #313942;
    opacity: 0.2;
    z-index: 3 !important;
  }
}
.dropdown {
  height: 100vh;
  width: 40vw;
  background-color: #edece9;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-right: 2vw;
  position: fixed;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.cart-items {
  overflow: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 0 2vw;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(80, 80, 80, 1);
  }
  &::-webkit-scrollbar-track {
    background: #bfbfbf;
  }
}
