.icon {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .cart-icon {
    width: 28px;
    height: 28px;
  }
  .close-btn {
    width: 16px;
    height: 16px;
    position: relative;
    margin-left: 6vw;

    &::before,
    &::after {
      background-color: #000;
      content: "";
      height: 2px;
      width: 20px;
      position: absolute;
      left: 0;
      top: 10px;
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
  .circle {
    position: absolute;
    top: 5px;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #c4d6b0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item-count {
    font-size: 15px;
    font-weight: bold;
    color: #44633f;
  }
  .span1,
  .span2 {
    height: 3px;
    width: 32px;
    background-color: #25251f;
  }
  .span1 {
    transform: rotate(40deg) translateY(2px);
  }
  .span2 {
    transform: rotate(-40deg) translateY(-2px);
  }
}
