.details {
  display: flex;
  flex-direction: column;
  gap: 28px;

  .price-name {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .price,
  .treatment {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
  }
  .plant-name {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
  }
  .description-wrapper {
    width: 100%;

    .description {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
    }
  }
  .care-tip {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
